{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">DJANGO APP</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi officiis officia similique adipisci nostrum
            possimus
            labore at dolore necessitatibus consequuntur eaque, distinctio aliquid qui nemo vel cum quo aut enim!</p>

            <div class="text-center">
                <a class="btn btn-primary" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-secondary" href="/signup/">
                    Signup
                </a>
            </div>
        </section>
</main>
{% endblock %}